<div class="height flex vertical">
  <div class="flex-1"></div>
  <div class="flex">
    <div class="flex-1"></div>
<!--    centréé-->





    <div class="flex ma-vue-image">
      <div class="image shiatsu"></div>
      <div class="flex-1"></div>
      <div class="image tuina"></div>
      <div class="flex-1"></div>
      <div class="image huile"></div>
      <div class="flex-1"></div>
      <div class="image relax"></div>

    </div>







<!--    fin centrée-->
    <div class="flex-1"></div>
  </div>
  <div class="flex-1"></div>
</div>
